
<%= form_with(model: @recipe, html: { class: "flex-items" }) do |form| %>
<%= render "shared/form_error_message", resource: @recipe %>
  <div class="field">
    <%= form.label "Recipe name", style: "display: block" %>
    <%= form.text_field :name, required: true, class: "form-input" %>
  </div>

  <div class="field">
    <%= form.label "Preparation time", style: "display: block" %>
    <%= form.text_field :preparation_time, required: true, class: "form-input" %>
  </div>

  <div class="field">
    <%= form.label "Cook time", style: "display: block" %>
    <%= form.text_field :cooking_time, required: true, class: "form-input" %>
  </div>

  <div class="field">
    <%= form.label "Description", style: "display: block" %>
    <%= form.text_field :description, required: true, class: "form-input" %>
  </div>

  <%= form.submit "Create recipe", class: "button"%>
<% end %>