<section class = "recipe-item">
  <div class="recipe__container">
    <h2> <%= @recipe.name %></h2>
    <div class = "recipe-detail-header">
      <p>Preparation Time: <strong><%= @recipe.preparation_time %></strong></p>
      <%= form_with(model: @recipe, url: recipe_path(id: @recipe.id), method: :patch, id: 'recipe-form') do |form| %>
        <%= form.check_box :public, {class: 'toggle-switch', id: 'public-toggle', onchange: 'submit()'}%>
        <%= form.label :public, class: 'toggle-switch-label', for: 'public-toggle' %>
        <%= form.submit 'Update Recipe', id: 'submit-button', style: 'display: none;' %>
      <% end %>
    </div>
    <p>Cooking Time: <strong><%= @recipe.cooking_time %></strong></p>
    <p class="recipe__description">Description: <strong><%= @recipe.description %></strong></p>
    <div class='recipe_buttons'>
      <% if can? :update, @recipe %>
        <%=link_to "Generate Shopping List", general_shopping_list_index_path, class: "button" %>
        <%=link_to "Add ingredient", new_recipe_recipe_food_path(@recipe), class: "button" %>
      <% end %>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Food</th>
          <th>Quantity</th>
          <th>Value</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <%= render 'ingredient'%>
      </tbody>
    </table>
  </div>
</section>
