<section class='recipe_new flex-items'>
  <h2>New Ingredient</h2>
  <div class="new__ingredients">
    <%= form_with url: recipe_recipe_foods_path, class: 'flex-items', scope: :recipe_food do |f| %>
      <%= render "shared/form_error_message", resource: @recipe_food %>
      <div class="field">
        <%= f.number_field :quantity, placeholder: 'Quantity', required: true%><br>
      </div>
      <div class="field field_select">
        <%= f.collection_select(:food_id, Food.where(user_id: @current_user), :id, :name)%><br>
      </div>
      <div class="add__ingredient-btn">
        <%= f.submit "Add ingredient", class: "button"%>
      </div>
    <%end%>
  </div>
</section>
